h1.header-style {
	background-color: black;
	color: white;
	text-align: center;
	width: 100%;
	padding: 5px;
}

.footer, .push {
	height: 155px; /* .push must be the same height as .footer */
}

.copyright {
	color: white;
}
